<html>
    <head>
        <title>LOGIN</title>
    </head>
    <body>
        <form action="/login" method="POST">
            <label for="username">username</label>
            <input type="text" placeholder="username" name="username" autocomplete="off"/>
            <br>
            <label for="password">password</label>
            <input type="password" placeholder="password" name="password" autocomplete="off" />
            <br>
            <button>submit</button>
        </form>
    </body>
</html>