<html>
    <head>
        <title>LOGIN</title>
    </head>
    <body>
        <form action="/register" method="POST">
            <label for="username">username</label>
            <input type="text" placeholder="username" name="username" autocomplete="off"/>
            <label for="email">email</label>
            <input type="text" placeholder="email" name="email" autocomplete="off"/>
            <label for="password">password</label>
            <input type="password" placeholder="password" name="password" autocomplete="off"/>
            <button >submit</button>
        </form>
    </body>
</html>